/* CSS global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f3f4f6; /* Cor de fundo padrão para outras páginas */
    color: #333333;
    -webkit-font-smoothing: antialiased; 
}

/* Estilos para o body apenas quando na página de login */
body.login-background {
    background-image: url('https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDR8fGxhcHRvcHxlbnwwfHx8fDE2MzI4MTg3NjA&ixlib=rb-1.2.1&q=80&w=1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
