/* styles.css */

/* Estilo para o container de Login */
.login-container {
    max-width: 400px; /* Limita a largura do formulário */
    margin: auto; /* Centraliza horizontalmente */
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com leve transparência */
    padding: 10px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
    width: 150%;
}

/* Estilo para o formulário */
.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px; /* Espaçamento entre os campos de entrada */
}

input {
    padding: 10px;
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 5px; /* Bordas arredondadas */
}

.button {
    background-color: #6366f1; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave */
}

.button:hover {
    background-color: #4b4eae; /* Cor ao passar o mouse sobre o botão */
}
