/* CSS Global */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url('https://images.unsplash.com/photo-1512820790803-83ca734da794?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=1080') no-repeat center center fixed;
    background-size: cover;
}

/* Book Container Styles */

.book-container {
    width: 100%;
    padding: 20px; /* Removendo max-width */
    margin: 0; /* Remover margem para usar toda a tela */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

header span {
    font-size: 20px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center; /* Centralizando o título */
}

/* CRUD Button Styles */

.crud-buttons {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
}

.book-card {
    transition: transform 0.2s;
}

.book-card:hover {
    transform: scale(1.05); /* Efeito de zoom no card */
}

.book-card-content {
    text-align: left; /* Alinhamento à esquerda do conteúdo */
}

.header {
    display: flex;
    justify-content: space-between; /* Alinha os itens de forma que ocupem todo o espaço */
    align-items: center;            /* Alinha verticalmente no centro */
    padding: 10px;                 /* Adiciona um pouco de espaçamento */
}


.logout-button strong {
    margin-left: 5px;              /* Espaçamento entre ícone e texto */
}

