/* CSS Global */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url('https://images.unsplash.com/photo-1512820790803-83ca734da794?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=1080') no-repeat center center fixed;
    background-size: cover;
}

/* Book Container Styles */

.book-container {
    width: 100%;
    padding: 20px; /* Removendo max-width */
    margin: 0; /* Remover margem para usar toda a tela */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
}

h1 {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center; /* Centralizando o título */
}

/* CRUD Button Styles */

.crud-buttons {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
}

.book-card {
    transition: transform 0.2s; 
    width: 95%;

}

.book-card:hover {
    transform: scale(1.05); /* Efeito de zoom no card */
}

.book-card-content {
    display: flex;
    flex-direction: column; /* Direção em coluna para o conteúdo */
}

/* Book Info Styles */
.book-info {
    display: flex; /* Usando flexbox para alinhar a imagem e o texto */
    align-items: center; /* Alinhamento vertical centralizado */
}

.book-image {
    width: 200px; /* Tamanho da miniatura */
    height: 300px; /* Tamanho da miniatura */
    object-fit: cover; /* Corta a imagem se necessário */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.book-details {
    flex-grow: 1; /* Permite que as informações ocupem o espaço restante */
}

/* Actions Styles */
.book-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px; /* Espaço acima dos ícones */
}
